*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.bg-light{
    background-color: #c7f3eca6!important;
}

.navbar-brand{
    font-size: 36px;
    color: #34d4c7be;
}

nav ul .letter{
    font-size: 16px;
    align-items: center;
    margin-bottom: 0;
    padding-left: 5rem;
}

.buscador{
    font-size: 20px;
    margin-bottom: 0;
}

.buscador .buscar{
    font-size: 15px;
    width: 250px;
}

.btn-outline-danger{
    border-color: #9ee2dde5!important;
    color: #19beb1;
}

.navbar-collapse {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

nav ul .letter {
    padding-left: 2rem;
}

.carrito{
    font-size: 20px;
    margin: auto;
    padding-left: 1rem;
    color: #0baa90;
    cursor: pointer;
}

.sumar, 
.restar{
    cursor: pointer;
    padding-bottom: 0.5rem;
}

/* Carrousel */

.banner{
    padding: 1rem;
}
.cuotas,
.envios{
    width: 470px!important;
}

.carousel-inner{
    margin-top: 0.5rem;
}
/* Carrito compras */

.carrito-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: #daf3f2f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.carrito-container::-webkit-scrollbar {
    display: none;
}

.cart-sup {
    display: flex;
    justify-content: space-around;
    background-color: #e2f4f4a8;
    color: #000000;
    width: 100%;
    align-items: center;
}

.carritoTitle {
    justify-self: start;
    font-size: 30px;
    color: #088f9496;
}

.carrito-button{
    cursor: pointer;
    color: #088f9496;
}

.carrito-sup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: 10px;
    align-items: center;
}

.carrito-container div img{
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    color: black;
}

.delete-product{
    cursor: pointer;
}

.cantidad-carrito{
    background-color: #13f705;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 32px;
    position: absolute;
    display: none;
}


/* Cards */

.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.shop-content div img{
    margin: 1rem 2rem;
}

h4{
    font-size: 1rem;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#16b1b1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 15px;
}

.price{
    color: #16b1b1;
    font-size: 22px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color:white;
    background-color: #169fb167;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
}

.card button:hover{
    opacity: 0.7;
}

/* page contactenos */

.contactSpace{
    padding: 2rem 10rem 0 10rem;
}

.footer{
    background-color: #19beb1;
}

/*mobile*/
@media only screen and (max-width: 420px) {
    .navbar .container-fluid{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .navbar-brand {
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    .navbar-toggler {
        width: 33px;
        height: 33px;
        font-size: 13px;
        margin: 0;
        padding: 0;
        color: rgb(34 179 161 / 47%);
        border-color: #68d3d99e;
    }
    .cantidad-carrito {
        right: 164px;
        position: absolute;
        display: none;
        top: 270px;
        font-size: 11px;
    }
    .navbar-collapse {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 2rem 0 0;
        padding: 0;
    }
    .carrito-buscador {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .d-flex {
        display: flex!important;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .carousel-inner {
        padding: 0;
        margin: 0;
    }
    .banner {
        padding: 0;
        margin-top: 0;
        height: 110px;
    }
    .cuotas, 
    .envios{
        width: 300px!important;
    }
    .shop-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
    }
    .carritoTitle {
        font-size: 23px;
        margin: 0;
    }
    .carrito-sup {

    }
    .carrito-button {
        margin: 0;
        padding-left: 1rem;
    }
    .cart-sup {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 16px;
    }
    .cart-sup h4 img {
        height: 100px;
        width: 100px;
    }
    .cart-sup h4{
        font-size: 12px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 890px){
    
}
/* @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-direction: row;
        }
} */